Repository arcanemachine/phoenix-todo-list: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-test, test-e2e

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      # misc
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # yaml
      - id: check-yaml
  - repo: "local"
    hooks:
      - id: "mix-format"
        name: "Format Elixir files"
        description: "Formats Elixir files with 'mix format'"
        language: "system"
        entry: "mix format"
        files: "\\.(?:exs|ex|heex)$"
        require_serial: true
      - id: "mix-test"
        name: "Test Elixir files"
        description: "Runs Elixir tests with 'mix test'"
        language: "system"
        entry: "./support/scripts/test-elixir"
        files: "\\.(?:exs|ex|heex)$"
        require_serial: true
      - id: "test-e2e"
        name: "Run E2E tests"
        description: "Runs end-to-end tests with Playwright"
        language: "system"
        entry: "./support/scripts/pre-commit"
        args: ["--test-e2e"]
        files: "test/.*\\.(?:js|ts)$"
        require_serial: true

(minor) Improve formatting
  README.md
Due: none

Upgrade Playwright
  test/js/package-lock.json
  test/js/package.json
Due: none

Change port scheme for dev/test/prod
  config/dev.exs
  config/prod.exs
  config/test.exs
  support/scripts/pre-commit
  test/js/playwright.config.ts
  test/js/support/constants.ts
Due: mix-format, mix-test, test-e2e

Bug fixes and performance improvements
  config/test.exs
  support/.envrc.override.example
  support/scripts/test-e2e-watch
Due: mix-format, mix-test

fixme
  test/js/support/constants.ts
Due: test-e2e

(e2e) Fix flaky tests by waiting for liveSocket connection before continuing
  support/scripts/pre-commit
  test/js/e2e/accounts/login/page.ts
  test/js/e2e/accounts/login/test.spec.ts
  test/js/e2e/accounts/logout/page.ts
  test/js/e2e/accounts/logout/test.spec.ts
  test/js/e2e/accounts/register/page.ts
  test/js/e2e/accounts/register/test.spec.ts
  test/js/e2e/todos/live/page.ts
  test/js/e2e/todos/live/test.spec.ts
  test/js/playwright.config.ts
Due: test-e2e

Remove unnecessary lines
  support/scripts/release
Due: none

Remove environment variable: 'PROJECT_NAME_ELIXIR'
  .env
  support/.env.override.example
Due: none

Use Docker Compose to launch Postgres and Phoenix
  README.md
  docker-compose.yml
  docker/volumes/.gitignore
  rel/overlays/bin/server
  support/.env.override.example
Due: none

Add '--help' flags to describe what each script does
  support/scripts/release-create
  support/scripts/shell
  support/scripts/start
  support/scripts/test-e2e
  support/scripts/test-e2e-watch
  support/scripts/test-elixir
  support/scripts/test-elixir-watch
  support/scripts/test-unit
  support/scripts/test-unit-watch
Due: none

fixme
  support/scripts/openapi-schema-generate
Due: none

Update insomnia.json
  support/insomnia.json
Due: none

Fix ESBuild custom exports
  config/config.exs
Due: mix-format, mix-test

Improve instructions
  README.md
Due: none

Add script to prune assets
  support/scripts/assets-prune
Due: none

Use quotes for all string values
  docker-compose.yml
Due: none

Convert database to SQLite3
  .gitignore
  assets/js/init.js
  config/dev.exs
  config/runtime.exs
  config/test.exs
  lib/todo_list/repo.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20230207053009_create_users_auth_tables.exs
  support/.env.override.example
  support/scripts/release-create
Due: mix-format, mix-test

Temporarily revert to old ESBuild setup so that dev environment works properly
  config/config.exs
Due: mix-format, mix-test

Move '/docker' directory into '/support' directory
  support/docker/volumes/.gitignore
Due: none

Fix issues with Docker deployment
  Dockerfile
  README.md
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  docker-compose.yml
  rel/overlays/bin/server
  support/.env.override.example
  support/scripts/release-create
Due: mix-format, mix-test

Add vanilla/bare metal deployment instructions
  README.md
Due: none

Rename 'start' support script to 'start-dev'
  support/scripts/start-dev
Due: none

Decrease help text size by reducing extraneous words
  support/scripts/assets-prune
  support/scripts/openapi-schema-generate
  support/scripts/pre-commit
  support/scripts/release-create
  support/scripts/shell
  support/scripts/start-dev
  support/scripts/start-prod
  support/scripts/test-e2e
  support/scripts/test-e2e-watch
  support/scripts/test-elixir
  support/scripts/test-elixir-watch
  support/scripts/test-unit
  support/scripts/test-unit-watch
Due: none

Improve help text and remove old commented-out code
  support/scripts/start-dev
Due: none

Add setup and testing instructions
  README.md
Due: none

Add support script 'start-prod'
  support/scripts/start-prod
Due: none

Comment out currently-unused environment variables
  support/.env.override.example
Due: none

Re-enable GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

Add 'PHX_HOST' environment variable to fix issue with failing CI tests
  .github/workflows/ci.yml
Due: none

(ci) Re-enable static code analysis
  .github/workflows/ci.yml
Due: none

Remove vanilla Docker setup instructions
  README.md
Due: none

Convert Dockerfile to symlink; Move actual Dockerfile to '/support/'
  Dockerfile
  support/Dockerfile.base
Due: none

Move all ESBuild exports into main config
  config/config.exs
  config/dev.exs
Due: mix-format, mix-test

ops: Do not serve content over HTTPS
  config/runtime.exs
Due: mix-format, mix-test

Do not set port in Elixir code
  config/dev.exs
  config/test.exs
Due: mix-format, mix-test

refactor: Remove unused variable
  config/test.exs
Due: mix-format, mix-test

ops: disable E2E tests during pre-commit
  .pre-commit-config.yaml
Due: none

style: Use correct casing for 'IEx'
  README.md
  support/scripts/shell
  support/scripts/start-dev
Due: none

Change local env filenames to '*.local'; Ignore '*.local' files
  .envrc
  .gitignore
Due: none

Enable 'git-conventional-commits'
  .pre-commit-config.yaml
Due: none
