Repository arcanemachine/phoenix-todo-list: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-test, test-e2e

mix-format:
  name: Format Elixir files
  description: Formats Elixir files with mix format
  language: system
  entry: mix format

mix-test:
  name: Test Elixir files
  description: Runs Elixir tests with mix test
  language: system
  entry: mix test

test-e2e:
  name: Run E2E tests
  description: Runs end-to-end tests with Playwright
  language: system
  entry: ./scripts/pre-commit
  args:
  - --test-e2e

Require parameters when calling the pre-commit script
  scripts/pre-commit
Due: none

Convert todoIdSelected to/from Number when it makes sense to do so
  assets/js/todos/alpine.ts
  lib/todo_list_web/todos/live/todos_live.html.heex
Due: mix-format

Temporarily remove local Elixir hooks
  .pre-commit-config.yaml
Due: none

Add currently-selected todo ID to dataset attribute for easier testing
  lib/todo_list_web/todos/live/todos_live.html.heex
Due: mix-format

Change todo-create form button color to green to differentiate it from todo-update form
  lib/todo_list_web/todos/live/todos_live.html.heex
Due: mix-format

Remove trailing comma
  lib/todo_list_web/todos/live/todos_live.html.heex
Due: mix-format

Convert 'type' method to 'fill'
  test/js/e2e/accounts/login/page.ts
  test/js/e2e/accounts/register/page.ts
Due: test-e2e

Convert 'title' property to 'pageTitle'
  test/js/e2e/base/index/page.ts
  test/js/e2e/base/index/test.spec.ts
Due: test-e2e

Remove unnecessary parameter from function definition
  test/js/e2e/support/setup/global.ts
Due: test-e2e

(broken) Work on getting todo-update E2E test working
  test/js/e2e/todos/live/page.ts
  test/js/e2e/todos/live/test.spec.ts
Due: test-e2e

Bug fixes and performance improvements
  test/js/e2e/support/setup/global.ts
Due: test-e2e

Do not use authenticated worker session to for E2E logout tests
  test/js/e2e/accounts/logout/test.spec.ts
Due: test-e2e

Get page-update and todo-select/unselect E2E tests working
  test/js/e2e/todos/live/page.ts
  test/js/e2e/todos/live/test.spec.ts
Due: test-e2e

(broken) Work on getting todo-update E2E test working
  lib/todo_list_web/accounts/live/user_login_live.ex
  lib/todo_list_web/accounts/live/user_registration_live.ex
  lib/todo_list_web/base/components/layouts/root.html.heex
  test/js/e2e/base/page.ts
  test/js/e2e/support/fixtures.ts
  test/js/e2e/todos/live/page.ts
  test/js/e2e/todos/live/test.spec.ts
Due: mix-format, test-e2e

Re-enable local Elixir pre-commit hooks
  .pre-commit-config.yaml
  test/todo_list_web/live/user_registration_live_test.exs
Due: mix-format, mix-test

Fix filetype glob for 'mix format' pre-commit hook
  .pre-commit-config.yaml
Due: none

Run 'mix format'
  lib/todo_list_web/base/components/layouts/root.html.heex
  lib/todo_list_web/todos/live/todos_live.html.heex
Due: mix-format

Fix remaining issues with pre-commit hooks
  .pre-commit-config.yaml
  scripts/test-e2e
  scripts/test-phoenix
Due: none

Use fixtures for all tests to prepare for custom user-agent SQL sandboxing
  test/js/e2e/accounts/logout/test.spec.ts
  test/js/e2e/support/fixtures.ts
Due: test-e2e

Improve post-test database reset message
  scripts/test-e2e
Due: none

fixme: Get SQL sandbox setup/teardown working
  test/js/e2e/base/index/test.spec.ts
  test/js/e2e/support/setup/global.ts
  test/js/e2e/support/teardown.ts
  test/js/playwright.config.ts
Due: test-e2e

(almost works) Create logic to support SQL sandbox use in E2E tests
  scripts/test-e2e
  test/js/e2e/base/index/test.spec.ts
  test/js/e2e/support/fixtures.ts
  test/js/e2e/support/setup/global.ts
  test/js/e2e/support/teardown.ts
  test/js/playwright.config.ts
Due: test-e2e

Remove SQL sandbox E2E test logic
  scripts/test-e2e
  test/js/e2e/support/setup/global.ts
  test/js/e2e/support/teardown.ts
  test/js/playwright.config.ts
Due: test-e2e

Remove commented-out lines
  .pre-commit-config.yaml
Due: none

(e2e) Create remaining test skeletons for 'todos-live' tests
  test/js/e2e/todos/live/test.spec.ts
Due: test-e2e

(e2e) Re-enable logic to reuse auth sessions when possible
  test/js/e2e/support/fixtures.ts
Due: test-e2e

Bug fixes and performance improvements
  .pre-commit-config.yaml
  scripts/pre-commit
  scripts/test-e2e
Due: none

Add generic logic to handle pushEvent failures (toast message)
  assets/js/app.js
  assets/js/base/helpers.ts
  assets/js/base/hooks.ts
  assets/js/todos/alpine.ts
  assets/package-lock.json
  assets/package.json
Due: none

Use proper ID for 'disconnected' flash message
  lib/todo_list_web/base/components/layouts/app.html.heex
Due: mix-format

Modify selectors
  lib/todo_list_web/todos/live/todos_live.html.heex
  test/todo_list_web/live/todos_live_test.exs
Due: mix-format, mix-test

(e2e) Test todo completion check toggle
  test/js/e2e/base/page.ts
  test/js/e2e/todos/live/page.ts
  test/js/e2e/todos/live/test.spec.ts
Due: test-e2e

(e2e) Use label instead of selector in todo 'is-completed' checkbox locator
  lib/todo_list_web/todos/live/todos_live.html.heex
  test/js/e2e/todos/live/page.ts
  test/js/e2e/todos/live/test.spec.ts
Due: mix-format, test-e2e

Remove unused selector and use computed 'aria-label'
  lib/todo_list_web/todos/live/todos_live.html.heex
Due: mix-format

Move 'pageTitle' to abstract page object
  test/js/e2e/base/index/page.ts
  test/js/e2e/base/page.ts
Due: test-e2e

Reset the database before running tests
  scripts/test-phoenix
Due: none

(e2e) Create 'todo delete' test
  test/js/e2e/todos/live/page.ts
  test/js/e2e/todos/live/test.spec.ts
Due: test-e2e

(e2e) Improve assertions according to Playwright best practices
  test/js/e2e/todos/live/page.ts
  test/js/e2e/todos/live/test.spec.ts
Due: test-e2e

(e2e) Add 'Writing Tests' section to README
  test/js/e2e/README.md
Due: none

(e2e) Improve README project structure mermaid diagram and slight improvements to wording
  test/js/e2e/README.md
Due: none

(e2e) Add more spacing to mermaid diagram
  test/js/e2e/README.md
Due: none

Path conditions:
  mix-format: any of: \.(?:exs|ex|heex|eex)
  mix-test: any of: ^test\/.*_test\.exs$
  test-e2e: any of: test/js/e2e/.*\.ts
